{
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "printWidth": 120,
        "explicitTypes": "always"
      }
    }
  ]
}
